                <div class="info-content-card">
                    <div class="info-logo-group">
                        <img src="https://cdn.jsdelivr.net/gh/JacketJK/image/JK-Store_Logo.png" class="info-logo">
                        <h2>Class Room Manager v1.2</h2>
                        <p>ระบบบริหารจัดการห้องเรียนสำหรับครูและนักเรียนยุคดิจิทัล</p>
                    </div>
                    <div class="info-sections">
                        <div class="info-sec">
                            <h4><i class="bi bi-shield-check"></i> เกี่ยวกับซอฟต์แวร์</h4>
                            <p>โปรแกรมจำลองระบบบริหารห้องเรียนที่ช่วยให้นักเรียนสามารถวางแผนและจัดการเรื่องเรียนได้อย่างมีประสิทธิภาพ
                                ประกอบด้วยระบบประเมินคะแนนสะสม แผนที่การบ้าน ปฏิทินการศึกษา
                                และการสร้างแรงจูงใจในการทำการบ้านด้วยระบบสะสมคะแนนแลกของรางวัลอันน่าดึงดูดใจ</p>
                        </div>
                        <div class="info-sec">
                            <h4><i class="bi bi-person-hearts"></i> คณะผู้จัดทำ</h4>
                            <p><strong>ออกแบบและพัฒนาโดย:</strong> JackJK & ทีมพัฒนาครีเอทีฟบอร์ดการศึกษาไทย</p>
                            <p><strong>ขอบคุณสปอนเซอร์:</strong> โรงเรียนประถมศึกษาภาควิชาวิทยาศาสตร์และนวัตกรรมแห่งชาติ
                            </p>
                        </div>
                    </div>
                </div>
