                <div class="view-card full-width">
                    <div class="portfolio-header">
                        <div class="portfolio-title-group">
                            <div class="title"><i class="bi bi-folder-symlink-fill text-accent"></i> แฟ้มผลงานดิจิทัล
                                (E-Portfolio)</div>
                            <span class="sub-title">เก็บบันทึกชิ้นงาน วิดีโอ
                                หรือเกียรติบัตรอันเป็นที่น่าภาคภูมิใจในการเรียนของคุณ</span>
                        </div>
                        <button class="btn-add-portfolio" id="addPortfolioBtn"><i class="bi bi-file-earmark-plus"></i>
                            เพิ่มชิ้นงาน</button>
                    </div>
                    <div class="portfolio-grid" id="portfolioGrid">
                        <!-- Rendered dynamically by JS -->
                    </div>
                </div>
